<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yinxiaokang.framework.mybatis.simple.dao.UserMapper">
  <resultMap id="userMap" type="top.yinxiaokang.framework.mybatis.simple.model.User">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="user_name" property="userName"/>
    <result column="user_password" property="userPassword"/>
    <result column="user_email" property="userEmail"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="user_info" property="userInfo"/>
    <result column="head_img" jdbcType="BLOB" property="headImg"/>
    <result column="test_column" property="testColumn"/>
  </resultMap>
  <sql id="column">
    id, user_name, user_password, user_email, create_time, user_info, head_img , test_column
  </sql>
  
  <select id="selectById" resultMap="userMap">
        select
        <include refid="column"/>
        from  sys_user where id = #{id}
  </select>

  <select id="selectAll" resultMap="userMap">
    select <include refid="column"/>
    from sys_user;
  </select>

  <insert id="insert">
    insert into sys_user(user_name, user_password, user_email, user_info, head_img, create_time, test_column)
    values(#{userName},#{userPassword}, #{userEmail},#{userInfo}, #{headImg, jdbcType=BLOB}, #{createTime, jdbcType=TIMESTAMP}, #{testColumn})
  </insert>

  <insert id="insert2" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user(user_name, user_password, user_email, user_info, head_img, create_time, test_column)
    values(#{userName},#{userPassword}, #{userEmail},#{userInfo}, #{headImg, jdbcType=BLOB}, #{createTime, jdbcType=TIMESTAMP}, #{testColumn})
  </insert>

  <!--MySQL方式, 在insert之后获取id值-->
  <insert id="insert3" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user(user_name, user_password, user_email, user_info, head_img, create_time, test_column)
    values(#{userName},#{userPassword}, #{userEmail},#{userInfo}, #{headImg, jdbcType=BLOB}, #{createTime, jdbcType=TIMESTAMP}, #{testColumn})
    <selectKey keyColumn="id" resultType="long" keyProperty="id" order="AFTER">
      select last_insert_id()
    </selectKey>
  </insert>

  <!--Oracle方式, 需要在insert之前获取id值, selectKey放置位置不影响, 通过order属性来决定先后, 放到前面为了直观-->
  <insert id="insert4" useGeneratedKeys="true" keyProperty="id">

    <selectKey keyColumn="id" resultType="long" keyProperty="id" order="BEFORE">
      select seq_id.nextval from dual
    </selectKey>

    insert into sys_user(id, user_name, user_password, user_email, user_info, head_img, create_time, test_column)
    values(#{id} ,#{userName},#{userPassword}, #{userEmail},#{userInfo}, #{headImg, jdbcType=BLOB}, #{createTime, jdbcType=TIMESTAMP}, #{testColumn})

  </insert>

</mapper>